/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* GLOBALS */

:root {
    --title-color: rgb(247 192 197);
    --title-border: rgb(77 125 97);
    --title-font-size: 6em;
    --title-font: 'Fraunces', serif;
    --body-font: 'Poppins', sans-serif;
    --body-font-color: rgb(77 125 97);
    --box-color: rgb(255 237 239);
    --header-image: url('https://dl.dropbox.com/s/q8yecsdxvctnz1g/sakura.gif');
    --left-pixel: url('/img/heart.png');
    --right-pixel: url('/img/crunchyroll.png');
}

body,
html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(250 254 239);
    font: 0.9em var(--body-font);
    color: var(--body-font-color);
    scrollbar-color: var(--title-color);
    /* Mozilla scrollbar fallback */
    cursor: url('/fav-icon/ghoopy-side/favicon-32x32.png'), auto;
}

.uppercase {
    text-transform: uppercase;
}

/* LOGO */

.site-logo {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    padding: 1em;
}

/* MY HEADER */

.my-header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.my-header a {
    text-decoration: none;
    color: rgb(77 125 97);
}


/* RESPONSIVE IMG */

img {
    max-width: 100%;
    height: auto;
}


/* TOGGLE NAV */

#menu {
    background: rgb(224 255 154);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
}

#menu.open {
    opacity: 1;
    visibility: visible;
}

#menu.open li:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#menu.open li {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#menu ul:hover a {
    opacity: 0.5;
}

#menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
    opacity: 1;
}

#menu .site-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menu .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu .site-nav a {
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-style: italic;
    color: rgb(77 125 97);
    display: block;
    font-size: 4em;
    padding: .4em .4em;
    text-decoration: none;
    text-transform: lowercase;
}

#menu .site-nav a:first {
    padding-top: 0;
}

.toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
}

.toggle-menu span {
    background-color: rgb(77 125 97);
    content: "";
    display: block;
    height: 4px;
    left: calc(50% - 13px);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
    border-radius: 1em;
}

.toggle-menu span:before,
.toggle-menu span:after {
    background-color: rgb(77 125 97);
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
    border-radius: 1em;
}

.toggle-menu span:before {
    top: 7px;
}

.toggle-menu span:after {
    top: -7px;
}

.toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
}


/* SAKURA THEME PAGE CODE */

body>iframe:first-child {
    display: none !important;
}

a {
    color: var(--title-border);
}

a:hover {
    color: var(--title-color);
    cursor: url('/fav-icon/ghoopy-side/favicon-32x32.png'), auto;
}

h1 {
    font-family: var(--title-font);
    font-style: italic;
}

::selection {
    background: var(--title-color);
}

code {
    background-color: var(--title-color);
    color: var(--title-border);
    padding: 0 5px;
    border: 1px solid var(--title-border);
    border-radius: 5px;
}

#title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: var(--title-font-size);
    text-align: center;
    font-style: italic;
    font-weight: 600;
}

#caption-box {
    height: 45vh;
    max-width: 100%;
    margin: 1em;
    background: var(--header-image) center / contain no-repeat;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--title-color);
}

.about-container {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
}

.about-container>div {
    flex: 0 1 auto;
}

#middle {
    width: 33vw;
}

#box {
    background-color: var(--box-color);
    border: 2px dashed var(--title-border);
    overflow-y: scroll;
    max-height: 10em;
    width: 30vw;
    padding: 0em 1em;
    margin: auto;
}

#right-pixel,
#left-pixel {
    width: 4em;
    height: 4em;
}

#right-pixel {
    float: left;
    background: var(--right-pixel) center / contain no-repeat;
}

#left-pixel {
    float: right;
    background: var(--left-pixel) center / contain no-repeat;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10em 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: var(--box-color);
    margin: auto;
    overflow: auto;
    padding: 0;
    border: 2px solid var(--title-border);
    width: 36vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -30vh;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -30vh;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal-header {
    padding: 0 1.5em;
    border-bottom: 1px solid var(--title-border);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.modal-body {
    overflow-y: scroll;
    padding: 0.5em 1em;
    max-height: 45vh;
}

.modal-button {
    padding: 1em;
    background: none;
    color: inherit;
    outline: inherit;
    border: none;
    cursor: url('/fav-icon/ghoopy-side/favicon-32x32.png'), auto;
    height: inherit;
    width: inherit;
}

.modal-img {
    max-height: 30vh;
    max-width: 100%;
    padding: 5px;
    float: right;
}

.close {
    color: var(--title-border);
    font-size: 2.5em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--title-color);
    text-decoration: none;
    cursor: url('/fav-icon/ghoopy-side/favicon-32x32.png'), auto;
}


/* MOBILE */

@media only screen and (max-width: 800px) {
    .about-container {
        max-width: 100%;
        padding: 1em;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .about-container>div {
        max-width: 90vw;
    }

    #caption-box {
        max-height: 30vh;
        max-width: 100%;
    }

    .modal-content {
        width: 90vw;
    }

    .modal-img {
        height: 100%;
        max-width: 35vw;
    }

    #box {
        width: 85vw;
    }

    #middle {
        order: 1;
        width: 90vw;
    }

    #left {
        order: 2;
    }

    #right {
        order: 3;
    }

    #right-pixel,
    #left-pixel {
        width: 3.5em;
        height: 3.5em;
    }
}