/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Poppins', sans-serif; */


/* VARIABLES */

html {
    --color-background: rgb(247 192 197);
    --pink-text: rgb(235 135 171);
    --idlecafe-bg: rgb(42 44 44);
}


/* GLOBALS */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247 192 197);
    min-height: 100vh;
    font-size: 85.75%;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 10em;
    font-style: italic;
    text-transform: lowercase;
    margin-bottom: 0;
    margin-top: 1.5em;
}

h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 2.5em;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
}

p {
    margin-top: .2em;
}

header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: rgb(77 125 97);
}

section {
    padding: 1em;
    display: grid;
    justify-content: center;
}

/* STRICTLY FOR SUBPAGES */

.orange-subtext {
    text-transform: lowercase;
    font-weight: 500;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1;
    color: rgb(255 123 0);
}

.solution {
    text-align: center;
    margin-top: 3em;
}

.sub-titles {
    font-weight: 500;
    margin-top: 2.5em;
}

.sitemap-flowchart {
    margin-top: 0;
    font-weight: 500;
}

.style-name {
    font-family: 'Fraunces', serif;
    font-weight: 600;
}

.fidelity {
    line-height: 1;
    margin-bottom: .2em;
}

.linked-prototype {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 600;
    font-style: italic;
    color: rgb(0 0 0);
}

.linked-prototype:hover {
    color: rgb(255 123 0);
    text-decoration: line-through;
}

.download-pg {
    margin-top: 1.5em;
    text-align: center;
}

.button {
    background-color: rgb(255 123 0);
    font-weight: 600;
    color: rgb(255 255 255);
    border: none;
    text-transform: uppercase;
    padding: .7em 3em;
    border-radius: 2em;
    font-size: 1.3em;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(55 54 68);
    color: rgb(255 123 0);
}

.customs-app {
    text-align: right;
    line-height: 1;
}

.pushed-frame img {
    margin-top: 2.9em;
}

.text-right {
    text-align: right;
}

.text-centered {
    text-align: center;
}


/* SUB PAGES HERO */

hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 2em;
}


/* LOGO */

.site-logo {
    font-family: 'Fraunces', serif;
    font-weight: 500;
    padding: 1em;
}


/* RESPONSIVE IMG */

img {
    max-width: 100%;
    height: auto;
}

.border-img {
    border-radius: 20px;
}

.shadows-img {
    box-shadow: 0 2px 8px 1.5px rgb(0 0 0 / .2);
}

.border-icon {
    border-radius: 15px;
}


/* VIDEO */

video {
    max-width: 100%;
    height: auto;
}


/* FLEX GRID */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.swapped {
    flex-direction: row-reverse;
}

.row>.column {
    flex-grow: 1;
    width: 98%;
    margin: 1%;
    flex-shrink: 0;
    /* padding: .5em; */

    background-color: #eee;

    @media (min-width: 768px) {
        &.centered {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            flex-grow: 0;
        }

        &.one-half {
            width: 48%;
        }

        &.one-third {
            width: 31.3333%;
        }

        &.two-thirds {
            width: 64.6666%;
        }

        &.one-fourth {
            width: 23%;
        }

        &.one-fifth {
            width: 18%;
        }
    }
}


/* CONTAINER */

.container {
    max-width: 800px;
    margin: 0 auto;
}


/* FOOTER */

.site-footer {
    background-color: rgb(61 85 85);
    padding: 3rem;
    color: rgb(225 252 213);
}

.site-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer a {
    color: rgb(225 252 213);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
}


/* TOGGLE NAV */

#menu {
    background: rgb(224 255 154);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
}

#menu.open {
    opacity: 1;
    visibility: visible;
}

#menu.open li:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#menu.open li {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#menu ul:hover a {
    opacity: 0.5;
}

#menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
    opacity: 1;
}

#menu .site-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#menu .site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu .site-nav a {
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-style: italic;
    color: rgb(77 125 97);
    display: block;
    font-size: 4em;
    padding: .4em .4em;
    text-decoration: none;
    text-transform: lowercase;
}

#menu .site-nav a:first {
    padding-top: 0;
}

.toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
}

.toggle-menu span {
    background-color: rgb(77 125 97);
    content: "";
    display: block;
    height: 3px;
    left: calc(50% - 13px);
    position: absolute;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
    border-radius: 1em;
}

.toggle-menu span:before,
.toggle-menu span:after {
    background-color: rgb(77 125 97);
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
    border-radius: 1em;
}

.toggle-menu span:before {
    top: 7px;
}

.toggle-menu span:after {
    top: -7px;
}

.toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
}


/* PROJECTS */

/* POLAROIDS */

.desk {
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    transition: filter .2s ease;
}

.photos {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

figure {
    margin: 0;
    padding: 1em;
    color: rgb(0 0 0);
    background: rgb(255 255 255);
    width: 15em;
    box-shadow: 0 0 4vmin rgba(0 0 0 / .35);
    font-size: 1em;
    position: absolute;
    transition: box-shadow .2s ease, filter .2s ease;

    figcaption {
        text-align: center;
        pointer-events: none;
    }
}

figure a {
    pointer-events: none;
}

.active figure a {
    pointer-events: auto;
}


/* IDLE CAFE */


/* HAIKYUU */

.haikyuu-bg {
    background-color: rgb(255 255 255);
}

.haikyuu-orange {
    color: rgb(255 123 0);
}

/* .wireframes-bg {
    background-color: rgb(55 54 68);
    background-size: 100px;
} */

.haikyuu-button {
    background-color: rgb(255 123 0);
    font-weight: 600;
    color: rgb(255 255 255);
    border: none;
    text-transform: uppercase;
    padding: .7em 3em;
    border-radius: 2em;
    font-size: 1.3em;
    text-decoration: none;
}

.haikyuu-button:hover {
    background-color: rgb(55 54 68);
    color: rgb(255 123 0);
}


